body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/gravel.png");
    background-color: lightgrey;
    color: #777777;

    position: relative;
    min-height: 100vh;
}

body::after{
    content: '';
    display: block;
    height: 75px;
}

main{
    overflow-x: auto;
}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

ul{
    list-style-type: circle;
    list-style-position: inside;
    text-indent: 30px;
}

p, ul{
    line-height: 1.5;
}

footer{
    background-color: #666666;
    color: #dddddd;
    border-top: 4px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
}

footer div{
    position: absolute;
    width: 100%;

    bottom: 10px;
    
    text-align: center;
}

#headerBar{
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;

    box-sizing: border-box;
    padding: 0px calc(50% - 480px) 0px calc(50% - 480px);
}

#name{
    background-color: #4aaa9c;
    color: white;
    float: left;
    padding: 30px 20px 30px 20px;
    text-align: center;
}

#links{
    float: right;
    line-height: 90px;
}

.siteLink{
    float: left;

    color: #777777;
    text-decoration: none;

    padding: 0px 10px;
}

.siteLink:hover{
    color: #4aaaa5;
}

.linkDivider{
    float: left;

    color: lightgray;

    margin: 0px 5px;
}

.contentTitle{
    color: #4aaaa5;
    padding-bottom: 15px;
    border-bottom: solid 3px #dddddd;
    margin: 20px 20px 10px 20px;
}

.contentCard{
    background-color: #ffffff;

    width: 960px;
    margin: 30px auto auto auto;

    overflow: auto;
}

.contentBody{
    background-color: #ffffff;
    padding: 20px 20px 35px 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


.contentImage{
    float: left;
    height: 200px;
    width: 200x;
    margin-right: 15px;
    border: #cccccc 2px solid;
}

.portfolioItemContainer{
    position: relative;
}

.portfolioItemContainer, .portfolioItemContainer img{
    width: 270px;
    height: 200px;
}

.portfolioItem{
    position: absolute;
    bottom: 30px;

    width: 100%;
    padding: 15px 0px;

    text-align: center;
    color: #ffffff;

    background-color: rgba(74, 170, 165, 0.7)
}

.contactInput{
    margin-bottom: 15px;
    padding: 5px;

    width: 480px;
}

.msgInput{
    display: block;
}

.contactSubmit{
    background-color: #4aaaa5;
    color: #ffffff;

    margin-top: 20px;
    padding: 5px 20px;
    border: 0px;

    font-size: 1.3em;
}